html {
  box-sizing: border-box;
  /* border: 1px dashed gray; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddf0ff;
}

.buttonsrow {
  margin: 30px 10px;
}

.btn {
  /* background-color: #ffffff; */
  font-family: Montserrat, Tahoma, sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
}

.btn:hover {
  box-shadow: 0 0 10px 0px rgba(95, 105, 213, 0.9);
}

.blackbtn {
  font-weight: 900;
}

.rainbowbtn {
  font-weight: 900;
  background-color: #ffffff;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #98a600, #f9a825, #ff5722);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gridcontainer {
  display: flex;
  width: 960px;
  height: 960px;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.gridrow {
  display: flex;
  justify-content: stretch;
  flex: 1 1 0;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.15);
  flex: 1 1 0;
  background-color: white;
}

