html {
  box-sizing: border-box;
  /* border: 1px dashed gray; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.rainbowbtn {
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gridcontainer {
  display: flex;
  width: 960px;
  height: 960px;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.gridrow {
  display: flex;
  justify-content: stretch;
  flex: 1 1 0;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.6);
  flex: 1 1 0;
}

